<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Computed properties - Vue</title>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/main.css">
</head>
<body>

  <div id="app">
    
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="/vue-basics/">
          <img src="https://vuejs.org/images/logo.png" alt="Logo">
          Computed properties
        </a>
      </div>
    </nav>

    <div class="container">
      <p>
        Computed properties son propiedades que son calculadas a partir del valor de otras propiedades. Estas se declaran en el objeto <em>computed</em> que dentro llevan funciones y retornan algún valor.
      </p>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Nombre</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-primary" type="text" placeholder="Nombre" v-model="name">
            </p>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Apellido</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-primary" type="text" placeholder="Nombre" v-model="lastName">
            </p>
          </div>
        </div>
      </div>

      <p>
        <b>Resultado: </b>{{ fullName }}
      </p>
      
    </div>
          
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    let app = new Vue({
      el: '#app',
      data: {
        name: 'Irving Didier',
        lastName: 'Sarmiento'
      },
      computed: {
        fullName() {
          return this.name + ' ' + this.lastName;
        }
      }
    })

  </script>
</body>
</html>